@using Microsoft.AspNetCore.Http
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebDPRCalc</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="menu-bar">
            <div class="menu-item">
                <a class="menu-link" asp-controller="Home" asp-action="Index">Home</a>
            </div>

            <div class="menu-item">
                <a class="menu-link" asp-controller="Calculator" asp-action="EditAttack">DPR Calculator</a>
            </div>

            <div class="menu-item">
                <a class="menu-link" asp-controller="Calculator" asp-action="Tutorial">Tutorial</a>
            </div>
            @if (Context.Session.GetString("username") != null)
            {
                <div class="menu-item">
                    <a class="menu-link" asp-controller="User" asp-action="Profile">Profile</a>
                </div>

                <div class="menu-item">
                    <a class="menu-link" asp-controller="Calculator" asp-action="AttackList">Attack List</a>
                </div>

                <div class="menu-item">
                    <a class="menu-link" asp-controller="User" asp-action="Logout">Logout</a>
                </div>
            }
            else
            {

                <div class="menu-item">
                    <a class="menu-link" asp-controller="User" asp-action="CreateAccount">Create Account</a>
                </div>

                <div class="menu-item">
                    <a class="menu-link" asp-controller="User" asp-action="Login">Login</a>
                </div>
            }
        </nav>
    </header>

    <div class="render-cont">
        <main role="main" class="main">
            @RenderBody()
        </main>
    </div>

    <footer class="ftr">
        <div class="cr">
            &copy; 2020 - WebDPRCalc
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
