
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form method="post" class="act-form">
    <div class="inpStorage">
        <!--//asp-for="Username"-->
        <label class="inpLabel">Username:</label>
        <input type="text" name="username" class="inp" />

        <!--//asp-validation-for="Username"-->
        <span></span>
    </div>

    <div class="inpStorage">
        <!--//asp-for="Password"-->
        <label class="inpLabel">Password:</label>
        <input type="password" name="password" class="inp" />

        <!--//asp-validation-for="Password"-->
        <span></span>
    </div>

    <input class="button" type="submit" value="Login" />
</form>
