
@{ ViewData["Title"] = "Profile"; }

<div class="cont">
    <div class="title">DPRCFDND</div>
    <div class="subtitle">@ViewData["Title"]</div>

    <div class="profile">
        <div class="info-cont">
            <label>Username: </label>
            <div id="user">@ViewBag.profile.username</div>
        </div>
    </div>
</div>