@{
    ViewData["Title"] = "Home";
}

<div class="cont">
    <div class="title">DPRCFDND</div>

    <div class="home-menu">
        <div class="hm-item">
            <a class="hm-link" asp-controller="Calculator" asp-action="EditAttack">DPR Calculator</a>
            <br />
        </div>

        <div class="logged-in">
            <div class="hm-item">
                <a class="hm-link" asp-controller="User" asp-action="Login">Login</a>
                <br />
            </div>

            <div class="hm-item">
                <a class="hm-link" asp-controller="User" asp-action="Create Account">Create Account</a>
                <br />
            </div>
        </div>

        <br/>

        <div class="logged-out">
            <div class="hm-item">
                <a class="hm-link" asp-controller="Calculator" asp-action="AttackList">Create Account</a>
                <br />
            </div>

            <div class="hm-item">
                <a class="hm-link" asp-controller="User" asp-action="Profile">View Profile</a>
                <br />
            </div>
        </div>
    </div>
</div>
