
@{ ViewData["Title"] = "Attack List"; }

<h1>AttackList</h1>

@{ if (!(ViewBag.attacks is null))
    {
@foreach (var attack in ViewBag.attacks)
{
<div>
    <h2>@attack.name</h2>
    @*<a class="hm-link" asp-controller="Calculator" asp-action="ViewAttack">View</a>*@
    @Html.ActionLink("View", "ViewAttack", "Calculator", new { id = attack.id })
    @Html.ActionLink("Edit", "EditAttack", "Calculator", new { id = attack.id })
</div>          } } }
