
@{ ViewData["Title"] = "Edit Attack"; }

<div class="cont">
    <div class="title">DPRCFDND</div>
    <div class="asp-btn">
        <a asp-controller="Calculator" asp-action="Tutorial">Calculator Tutorial</a>
    </div>

    <form method="post" class="act-form">

        <div>
            <label class="inp-label-name">Attack Name:</label>
            <input id="atk-name" type="text" name="atkname" class="inp-lg" />
            <span></span>

            <input type="hidden" name="id" value="-1" />
        </div>

        <div id="calc-cont">


            <div id="to-hit">
                <div class="subtitle">To Hit</div>

                <div class="calc-part">
                    <div class="inp-cont">
                        <label class="inp-label">Attack Modifier:</label>
                        <input id="atk-mod" type="number" name="atkmod" class="inp-sm" />
                        <span></span>

                        <label class="inp-label">Critical Range:</label>
                        <input id="crit-range" type="text" name="critrange" class="inp-sm" />
                        <span></span>
                    </div>

                    <div class="inp-cont">
                        <label class="inp-label">Lucky Die?</label>
                        <input id="lucky" type="checkbox" name="lucky" class="cb" />
                        <span></span>

                        <label class="inp-label">Elven Accuracy?</label>
                        <input id="elv-acc" type="checkbox" name="elvenacc" class="cb" />
                        <span></span>
                    </div>

                    <div class="inp-cont">
                        <label class="inp-label">Halfling Luck?</label>
                        <input id="half-luck" type="checkbox" name="halflucky" class="cb" />
                        <span></span>

                        <label class="inp-label">Re-roll on miss?</label>
                        <input id="miss-reroll" type="checkbox" name="missreroll" class="cb" />
                        <span></span>
                    </div>

                    <div class="inp-cont">
                        <label class="inp-label">To Hit Dice/Die:</label>
                        <input id="th-die" type="text" name="tohit" class="inp-lg" />
                        <span></span>
                    </div>
                </div>
            </div>


            <div id="to-damage">
                <div class="subtitle">To Damage</div>

                <div class="calc-part">
                    <div class="inp-cont">
                        <label class="inp-label">Damage Modifier: </label>
                        <input type="number" name="dmgmod" class="inp-sm" />
                        <span></span>

                        <label class="inp-label">Resisted?</label>
                        <input id="resist" type="checkbox" name="resist" class="cb" />
                        <span></span>
                    </div>

                    <div class="inp-cont">
                        <div class="inp-label-sized">
                            <label class="inp-label">Damage Dice/Die: </label>
                        </div>
                        <input id="dmg-dice" type="text" name="dmgdice" class="inp-lg" />
                        <span></span>
                    </div>

                    <div class="inp-cont">
                        <div class="inp-label-sized">
                            <label class="inp-label">Reroll Dice/Die: </label>
                        </div>
                        <input id="rr-die" type="number" name="rerolldice" class="inp-lg" />
                        <span></span>
                    </div>

                    <div class="inp-cont">
                        <div class="inp-label-sized">
                            <label class="inp-label">Additional Crit Dice/Die: </label>
                        </div>
                        <input id="add-crit-dice" type="text" name="addcritdice" class="inp-lg" />
                        <span></span>
                    </div>
                </div>

            </div>
        </div>


        <div id="cdb-cont">
            <input class="button" type="submit" value="Calculate DPR" />
        </div>
    </form>
</div>
