
@{
    ViewData["Title"] = "Tutorial";
}

<div class="cont">
    <div class="title">Tutorial</div>

    <div class="asp-btn">
        <a asp-controller="Calculator" asp-action="EditAttack">Return To Calculator</a>
    </div>
</div>